<div class="wrapper">
    <div class="conteiner">
        <aside class="aside menuOn">
            <i class="fas fa-bars fa-2x btn__menu btnMenuOn" (click)="viewMenu()"></i>
            <div class="infoUser">
                <img src="../../assets/images/User2.jpg" alt="ImagUser" class="img_user menuOn__Op">
                <h3 class="name_user menuOn__Op">{{nombre}} {{apellido}}</h3>
            </div>
            <ul class="menu_principal">
                <li class="item_menu" *ngFor="let item of menu" [routerLink]="item.router" >                                          
                    <a   class="link_menu" (click)="getSubMenu(item)" >
                        <div class="item_conteiner" [ngClass]="item.title === title? rutaAct : rutaInact">
                            <i [class]="item.icon"></i>
                            <h4 [class]="ver">{{item.title}}</h4>
                            <span *ngIf="item.icon2" ><i [ngClass]="flecha" class="i_sub_menu"></i></span>
                        </div> 
                    </a>
                    <ul *ngIf="item.icon2 && (item.title === title)" [class]="subMenu">
                        <li class="item_sub_menu" *ngFor="let subitem of item.subMenu" [routerLink]="[subitem.router]"
                                                                                       routerLinkActive="active"
                                                                                       [routerLinkActiveOptions]="{exact: true}">
                            <a class="link_sub_menu" >
                                <div class="item_conteiner_sub_menu" >
                                    <i [class]="subitem.icon"></i><h4 [class]="ver">{{subitem.title}}</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <header class="header menuOn-2">
            <h2 >Home</h2>
            <i class="fa fa-sign-out logout fa-2x" aria-hidden="true" title="Salir"  (click)="logout()"></i>
        </header>
        <div class="dashboard menuOn-2">
            <div class="home-component">
                <router-outlet></router-outlet>
            </div>
        </div>
        <footer class="footer menuOn-2">
            <h2>footer</h2>
        </footer>
    </div>
</div>

