<div class="wrapper">
    <div class="conteiner">
        <div class="data-title">
            <h1>Bienvenidos al programa de tracking "Algodón 100% Santafesino"</h1>
        </div>
        <hr>
        <div class="data-login">
            <h2>Ingresar</h2>
            <form action = "#" id="loginForm" [formGroup]="formLogin" (ngSubmit)="login()" autocomplete="off">
                <label for="usuario">Email:</label>
                <input type="email" name="usuario" placeholder="ingrese su email" required formControlName="mail">
                <span *ngIf="campoNoValido('mail')">Ingrese un mail válido</span>

                <label for="password">Contraseña:</label>
                <input type="password" name="password" placeholder="ingrese su password" required formControlName="password">
                <span *ngIf="campoNoValido('password')">Debe rellenar este campo</span>

                <div class="data-user">
                    <div class="checkbox">
                        <input type="checkbox" name="Recordarme" value="Recordarme" formControlName="remember"> 
                        <label for="Recordarme">Recordarme</label>
                    </div>
                    <a href="#">Recuperar contraseña</a>
                </div>
                <button class="btn_Ingreso" type="submit" >INGRESAR</button>
            </form>
        </div>
        <hr/>
        <div class="data-register">
            <h2>¿No está registrado?</h2>
            <button routerLink="/registro">REGISTRARSE</button>

        </div>
        <hr/>
        <div class="data-info">
            <h2>Conocé mas sobre este proyecto:</h2>
            <ul class="ul-info">
                <li class="item-info"><a href="#">¿Quiénes pueden participar?</a></li>
                <li class="item-info"><a href="#">¿Cuáles son sus beneficios?</a></li>
            </ul>
        </div>
    </div>
</div>
