<div class="wrapper">
    <div class="conteiner">
        <div class="data-title">
            <h1>Bienvenidos al programa de tracking "Algodón 100% Santafesino"</h1>
        </div>
        <hr>
        <div class="data-login">
            <h2>Ingresar</h2>
            <form action = "#" >
                <label for="usuario">Email:</label>
                <input type="email" name="usuario" placeholder="ingrese su email" required>
    
                <label for="password">Contraseña:</label>
                <input type="password" name="password" placeholder="ingrese su password" required>
                <div class="data-user">
                    <div class="checkbox">
                        <input type="checkbox" name="Recordarme" value="Recordarme">
                        <label for="Recordarme">Recordarme</label>
                    </div>
                    <a href="#">Recuperar contraseña</a>
                </div>
                <button class="btn_Ingreso" type="submit" routerLink="/dashboard">INGRESAR</button>
            </form>
        </div>
        <hr/>
        <div class="data-register">
            <h2>¿No está registrado?</h2>
            <button routerLink="/registro">REGISTRARSE</button>

        </div>
        <hr/>
        <div class="data-info">
            <h2>Conocé mas sobre este proyecto:</h2>
            <ul class="ul-info">
                <li class="item-info"><a href="#">¿Quiénes pueden participar?</a></li>
                <li class="item-info"><a href="#">¿Cuáles son sus beneficios?</a></li>
            </ul>
        </div>
    </div>
</div>
