<div class="wrapper">
    <div class="conteiner">
        <div class="data-title">
            <h1>Rellene los siguientes campos:</h1>
        </div>
        <hr>
        <div class="data-register">
            <form action="#" [formGroup]="registerForm" (ngSubmit)="registerUser()">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" placeholder="ingrese su nombre" required formControlName="nombre">
                <span *ngIf="controlCampo('nombre')">Debe rellenar este campo</span>
    
                <label for="apellido">Apellido:</label>
                <input type="text" name="apellido" placeholder="ingrese su apellido" required formControlName="apellido">
                <span *ngIf="controlCampo('apellido')">Debe rellenar este campo</span>

                <label for="telefono">Teléfono:</label>
                <input type="text" name="apellido" placeholder="ingrese su telefono" required formControlName="telefono">
    
                <label for="usuario">Email:</label>
                <input type="email" name="usuario" placeholder="ingrese su email" required formControlName="mail"> 
                <span *ngIf="controlCampo('mail')">Debe rellenar este campo</span>
    
                <label for="Empresa">Empresa:</label>
                <input type="text" name="Empresa" placeholder="ingrese el nombre de su empresa" required formControlName="nameEmpresa">
                <span *ngIf="controlCampo('nameEmpresa')">Debe rellenar este campo</span>
    
                <label >Provincia:</label>
                <select class="selectProv" #txtSelect (change)="obtenerLocalidades(txtSelect.value)" formControlName="provincia">
                    <option >Seleccione una provincia</option>
                    <option *ngFor="let provincia of provincias">{{provincia.nombre}}</option>
                </select>
                <span *ngIf="controlCampo('provincia')">Debe seleccionar una provincia</span>
                
    
                <label >Localidad:</label>
                <select formControlName="localidad">
                    <option >Seleccione una localidad</option>
                    <option *ngFor="let localidad of localidades">{{localidad.nombre}}</option>
                </select>
                <span *ngIf="controlCampo('localidad')">Debe seleccionar una localidad</span>
                
                <label for="password">Contraseña:</label>
                <input type="password" name="password" placeholder="ingrese su password" required formControlName="password">
                <span *ngIf="controlCampo('password')">Debe rellenar este campo</span>
                <span *ngIf="compararPass()">Las contraseñas no coinciden</span>
                
                <label for="repassword">Repetir contraseña:</label>
                <input type="password" name="repassword" placeholder="repetir contraseña" required formControlName="repassword">
                <span *ngIf="controlCampo('repassword')">Debe rellenar este campo</span>
                <span *ngIf="compararPass()">Las contraseñas no coinciden</span>
    
                <div class="buttons">
                    <button class="btn_Ingreso" type="submit" >REGISTRARSE</button>
                    <a routerLink="/login">VOLVER</a>
                </div>
    
            </form>
        </div>
    
    </div>
</div>

