.conteiner{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}

  table{
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid rgb(148, 142, 142);
    width: 80%;
  }
    table thead tr{
      background:rgb(148, 142, 142);
      color: white;
    }
    table thead th:last-child{
      width: 100px;
    }

    table th, td{
      border-right:1px solid rgb(148, 142, 142) ;
    }
      .table th{
        padding: 10px;
        text-transform: uppercase;
      }
      .table td{
      /*text-transform:uppercase;*/
        padding: 5px;
      }

      .table tbody td:last-child{
        align-items: center;
        border-left: none;
        border-right: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
      }
        .table tbody tr td:first-child{
          border-top: none;
        }

        .table tbody tr:nth-child(2n){
          background-color: rgba(148, 142, 142,0.5);
        }

          table a{
            color: black;
          }